<section style="background-color: #eee;">
  <div class="container py-5">

   <div class="container mx-5 px-5 mb-4">
      <!-- search box -->
      <app-search class="mt-4"></app-search>

   </div>

    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card text-black">
          <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
          <img [src]="product.imgUrl" class="card-img-top" alt="Apple Computer" />
          <div class="card-body">
            <!-- <div class="mb-3">
                <label  for="exampleFormControlInput1" class="form-label">Enter Product Name</label>
                <input (input)="setName($event)" type="text" class="form-control" id="exampleFormControlInput1" placeholder="iphone, ipad..etc">
              </div> -->

            <div class="text-center">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="text-muted mb-4">Apple pro display</p>
            </div>
            <div>
              <div class="d-flex justify-content-between">
                <span>Price</span><span>{{'$'+product.price}}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Color</span><span>{{product.color}}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span>Discount</span><span>{{product.discount+'%'}}</span>
              </div>
            </div>

            <div class="text-center">
              <div class="btn-group mt-4" role="group" aria-label="Basic example">
                <button type="button" (click)="decrementCart()"[disabled]="!(cart> 1)" class="btn btn-primary">-</button>
                <h3 class="mx-3">{{cart}}</h3>
                <button type="button" (click)="incrementCart()" class="btn btn-primary">+</button>
              </div>
            </div>

            <div class="d-flex justify-content-between total font-weight-bold mt-4">
              <span>Total</span><span>{{'$'+getDiscount()}}</span>
            </div>
            <div class="d-grid col-8 mx-auto mt-4">
              <button class="btn btn-primary" type="button" [disabled]="!(product.stock > 0)">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>